{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"type="text/css" href="{% static 'css/style.css'%}">
    
    <title>{%block title%}web page{%endblock%}</title>

  </head>
  <body>
    
    
    <div class="t" style="text-align: center">
      <img src="/static/image/ol.jpg" style="max-width: 40%">
  </div>
    <body style="background-color: #F3CCCE">
      
    {%block content%}
   
    {%endblock%}
 
  </body>
</html>